.title {
    font-size: 85px;
    line-height: 103.43px;
    max-width: 914px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 60px;
        line-height: 73.01px;
        max-width: 697px;
        padding-top: 183px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 50px;
        line-height: 57.65px;
        max-width: 329px;
        padding-top: 171px;
    }
}