$base-font: #000;
$small-font: #474747;
$text_color: #FFF;
$background-section: #F3F7EA;
$font-stack: "Source Serif 4";
$size-small-font: 18px;
$size-font-button: 20px;
$size-base-font: 25px;
$size-text-font: 30px;
$size-font-contacts: 35px;
$size-heading-font: 40px;